<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height">
    <title>Twig Test</title>
</head>
<body>
<div>
    This page is test for twig template engine. Below is a parameter passed by route.
</div>
<div>
    Halo, I am {{ name }}, and I am a {{ gender }} test for commit.
</div>
</body>
</html>
